@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:proxima system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #17252A;
}

::-webkit-scrollbar-thumb {
  background-color: #17252A;
  border-radius: 6px;
}

.scrollable-content {
  scrollbar-width: thin;
  scrollbar-color: #17252A #17252A;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #17252A;
  border-radius: 6px;
}

.layout {
  background-image: 'public/Background.jpg';
}