@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #17252A;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #17252A;
    border-radius: 6px;
  }
  
  /* For Firefox */
  /* Note: Firefox supports scrollbar styling starting from version 64 */
  /* You may need to use vendor prefixes for earlier versions */
  /* The example here assumes Firefox 64+ */
  .scrollable-content {
    scrollbar-width: thin;
    scrollbar-color: #17252A #17252A;
  }
  
  .scrollable-content::-webkit-scrollbar-thumb {
    background-color: #17252A;
    border-radius: 6px;
  }
  